FLASK_ENV=development
PORT=5000

MODEL_PATH=model/routesheild_xgboost_model.json
PREPROCESSOR_PATH=model/routesheild_preprocessor.joblib

# MongoDB connection string for saved offline routes
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=<AppName>
MONGO_DB_NAME=routeshield
